- name: find RHMAP base image
  ec2_ami_find:
    ami_tags:
      rhmap: base
    no_result_action: fail
    is_public: no #This is opposite because of this https://github.com/ansible/ansible-modules-core/issues/3636
    region: "{{ ec2_region }}"
  register: ami_find

- name: create masters
  include: loop.yml
  vars:
    defaults:
      public_hostname: "master.{{ provision_id }}.{{ dns_tld }}"
      groups:
        - masters
        - nodes
      schedulable: no
  with_dict: "{{ masters }}"
  loop_control:
    loop_var: type

- name: create nodes
  include: loop.yml
  vars:
    defaults:
      groups:
        - nodes
  with_dict: "{{ nodes | default({}) }}"
  loop_control:
    loop_var: type